---
// Component Imports
import { Button } from "@/components/ui/button";
import MainLayout from "../layouts/main.astro";
import ImageCropper from '../components/imageCropper.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<MainLayout content={{ title: "Tool Box by Omnaris" }}>
    <div class="container min-h-[70vh] flex flex-col justify-center mx-auto py-8">
        <section class="bg-white ">
            <div class="py-8 px-4 flex flex-col gap-6 justify-center items-center mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
                <p class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full  hover:bg-gray-200 " role="alert">
                    <span class="text-xs bg-primary-600 rounded-full text-primary px-4 py-1.5 mr-3">New</span> <span class="text-sm font-medium">Tool Box by Omnaris est disponible !</span>
                    <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                </p>
                <h1 class="mb-4 text-4xl font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl "><span class="text-transparent bg-gradient-to-r from-primary to-secondary bg-clip-text bg-[length:200%_200%] animate-gradient-x">Recadrez</span> et <span class="text-transparent bg-gradient-to-r from-primary to-secondary bg-clip-text bg-[length:200%_200%] animate-gradient-x">compressez</span> toutes vos images en un seul clic !</h1>
                <p class="mb-8 font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 ">Vous en avez marre de traiter vos images une par une ? Grâce à notre outil, déposez autant s'image que vous le souhaitez et traitez les d'un seul clic.</p>
        </section>
        <ImageCropper />
    </div>
</MainLayout>
