---
// Component Imports
import { Button } from "@/components/ui/button";
import MainLayout from "../layouts/main.astro";
import ImageCropper from '../components/imageCropper.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<MainLayout content={{ title: "Tool Box by Omnaris" }}>
    <div class="container min-h-[70vh] flex flex-col justify-center mx-auto py-8">
        <h1 class="text-3xl font-bold mb-8 text-center"> <span class="text-primary">Recadrez</span> en 1:1 et <span class="text-primary">compressez</span> en webp vos images produit en un clin d'oeil !</h1>
        <ImageCropper />
    </div>
</MainLayout>
